body,
html,
* {
    box-sizing: border-box;
}

#root {
    position: relative;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #000;
}

.slide {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0;
    transition: opacity 350ms linear;
}

.slide .header{
    display: block;
    margin-top: 30px;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-weight: lighter;
    background-color: rgba(0,0,0,0.4);
}

.slide.active{
    z-index: 1;
    opacity: 1;
}